.container {
    background-color: red;
    display: grid;
    grid-template-columns: 50% 50%
}

.number-container {
    background-color: blueviolet;
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
}

#zero {
    align-self: center;
}

.button {
    margin:10px;
}