#main-container {
    background-color: red;
    display: grid;
    grid-template-columns: 75% 25%
}

#number-container {
    background-color: blueviolet;
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
}

#operations-container {
    display: grid;
    grid-template-columns: 100px;
    grid-template-rows: 100px;
}

#equals-container {
    background-color: greenyellow;
    display: grid;
    grid-template-columns: 100%
}

#zero {
    align-self: center;
}

.button {
    margin:10px;
    cursor: pointer;
}